.header-top .nav-details-right .language-drop-down .dropdown-custom-top .btn.dropdown-toggle{
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 0px 0;
    font-size: 16px;
    line-height: 20px;
    color: white;
    letter-spacing: 0;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-top .nav-details-right .language-dropdown-top  .dropdown-menu {
    min-width: 180px;
}

span.flag-span { padding: 0 25px 0 0; }
.header-top .nav-details-right .user-drop-down.language-drop-down {
    margin: 0 0px 0 0;
    border-right: 1px solid rgba(151, 151, 151, 0.4);
    padding: 0 20px 0 0;
}

@media screen and (max-width:767px){
    .header-top .nav-details-right .language-drop-down .dropdown-custom-top .btn.dropdown-toggle {
        color: #000202;
    }
    .header-top .nav-details-right .user-drop-down.language-drop-down {
        border-right: none;padding: 0 0px 0 0;
    }
    .header-top .nav-details-right .language-drop-down .dropdown-custom-top .btn.dropdown-toggle { width: 100%; max-width: 100%;     padding: 10px 15px !important; }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .header-top .nav-details-right .language-drop-down .dropdown-custom-top .btn.dropdown-toggle {
        color: #000202;
    }
    .header-top .nav-details-right .user-drop-down.language-drop-down {
        border-right: none;padding: 0 0px 0 0;
    }
    .header-top .nav-details-right .language-drop-down .dropdown-custom-top .btn.dropdown-toggle { width: 100%; max-width: 100%;     padding: 10px 15px !important; }
}