@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
/* colors */
/* End of colors */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  cursor: url("../images/oval-cursor.png"), auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  cursor: url("../images/oval-cursor.png"), auto;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  cursor: url("../images/oval-cursor.png"), auto;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: url("../images/oval-cursor.png"), auto;
}

.wrapper {
  background-color: #FDFDFD;
  display: block;
  height: 100%;
  cursor: url("../images/oval-cursor.png"), auto;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.p0 {
  padding: 0px !important;
}

.text-underline {
  text-decoration: underline;
}

.help-error {
  display: block;
  margin-top: 5px !important;
  font-weight: 400;
  font-size: 12px;
  color: #F24033;
  letter-spacing: 0;
  line-height: 18px;
}

.font-500 {
  font-weight: 500;
}

.display-none {
  display: none !important;
}

.display-show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.mr-minus-8 {
  margin-right: -8px;
  margin-left: -8px;
}

.plr-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.pr-80 {
  padding-right: 80px !important;
}

.grid-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  margin: 0 0 16px 0;
}

.grid-125 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 141px;
          flex: 0 0 141px;
  max-width: 141px;
  margin: 0 0 16px 0;
}

.input-group-30 {
  margin-bottom: 30px !important;
}

/*  */
.btn.btn-blue {
  padding: 0 20px;
  margin: 0;
  border: 1px solid #2C7BE5;
  background-color: #2C7BE5;
  color: white;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 24px;
}

.btn.btn-blue:hover, .btn.btn-blue:focus {
  border: 1px solid #0C406B;
  background-color: #0C406B;
  -webkit-box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
          box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-social {
  background-color: #F24033;
  border-radius: 6px;
  color: #fff;
  padding: 5px 10px 4px 10px;
  min-height: 36px;
  min-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-social.btn-facebook {
  background-color: #43619C;
}

.btn-social:hover, .btn-social:focus, .btn-social:active {
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-common {
  background-color: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 6px;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
  letter-spacing: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-previous {
  background-color: white;
  border: 1px solid #979797;
  color: #979797;
  padding: 5px 20px 4px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-previous .fe-icon {
  font-size: 21px;
  margin: 0 20px 0 0;
}

.btn-previous:hover, .btn-previous:focus, .btn-previous:active {
  background-color: white;
  border: 1px solid #979797;
  color: #979797;
  outline: none;
  -webkit-box-shadow: 0 15px 20px 0px rgba(151, 151, 151, 0.3);
          box-shadow: 0 15px 20px 0px rgba(151, 151, 151, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-continue {
  background: #0635C9;
  border: 1px solid #0635C9;
  color: white;
  outline: none;
  padding: 5px 15px 4px 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-continue .fe-icon {
  font-size: 21px;
  margin: 0 0 0 20px;
}

.btn-continue:hover, .btn-continue:focus, .btn-continue:active {
  background: #0635C9;
  border: 1px solid #0635C9;
  outline: none;
  -webkit-box-shadow: 0 10px 20px 0px rgba(6, 53, 201, 0.19);
          box-shadow: 0 10px 20px 0px rgba(6, 53, 201, 0.19);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-skip {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
  letter-spacing: 0;
  text-decoration: underline;
}

.btn-skip:hover, .btn-skip:focus, .btn-skip:active {
  color: #0635C9;
  outline: none;
  text-decoration: underline;
}

.btn-success.btn-search {
  opacity: 0.6;
  background: #0635C9;
  border: none;
  border-radius: 0px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.btn-success.btn-search .search-icons {
  font-size: 28px;
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #2C7BE5;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #0C406B;
}

.return-to-top:hover i {
  color: white;
}

/* add svg icons */
.custom-icon {
  display: inline-block;
  vertical-align: middle;
  color: #979797;
  fill: #979797;
  background-color: #979797;
}

.school-students-icon {
  -webkit-mask: url(../images/icons/school-students.svg) no-repeat 50% 50%;
          mask: url(../images/icons/school-students.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 53px;
  height: 65px;
}

.university-students-icon {
  -webkit-mask: url(../images/icons/university-students.svg) no-repeat 50% 50%;
          mask: url(../images/icons/university-students.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 71px;
  height: 72px;
}

.agriculture-icon {
  -webkit-mask: url(../images/icons/agriculture.svg) no-repeat 50% 50%;
          mask: url(../images/icons/agriculture.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 80px;
  height: 68px;
}

.travel-icon {
  -webkit-mask: url(../images/icons/travel.svg) no-repeat 50% 50%;
          mask: url(../images/icons/travel.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 70px;
  height: 58px;
}

.other-icon {
  -webkit-mask: url(../images/icons/other.svg) no-repeat 50% 50%;
          mask: url(../images/icons/other.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 30px;
  height: 9px;
}

.proceed-timeline-icon {
  -webkit-mask: url(../images/icons/proceed-timeline.svg) no-repeat 50% 50%;
          mask: url(../images/icons/proceed-timeline.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 74px;
  height: 68px;
}

.create-map-icon {
  -webkit-mask: url(../images/icons/create-map.svg) no-repeat 50% 50%;
          mask: url(../images/icons/create-map.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 66px;
  height: 70px;
}

.travel-plan-icon {
  -webkit-mask: url(../images/icons/travel-plan.svg) no-repeat 50% 50%;
          mask: url(../images/icons/travel-plan.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 57px;
  height: 68px;
}

/* End of add svg icons */
/* select2 */
.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #727272;
  border-radius: 0px;
  min-height: 50px;
  color: #979797;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #285B89;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 15px;
  left: 10px;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #2C7BE5;
}

.select2-results__option {
  padding: 10px;
}

/* end of select2 */
/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: #FDFDFD;
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-height: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

header .header-div .logo-div .logo_link {
  padding: 10px 0px 0px 0px;
}

header .header-div .nav-center-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 95px;
}

header .header-div .main-logo {
  display: block;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 165px;
}

/* End of header */
/* banner */
.banner-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.banner-section .banner-div .bannerleft-6 {
  padding: 0;
}

.banner-section .banner-div .bannerright-6 {
  padding: 0;
  position: initial;
}

.banner-section .banner-div .height-100 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-section .banner-div .height-100 .content-banner h1 {
  text-align: left;
}

.banner-section .banner-div .max-container-container {
  position: absolute;
  bottom: 30px;
  width: auto;
  left: 0;
  margin: 0 0 0 25px;
}

.banner-section .banner-div .max-container-container .text-downscroll {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner-section .banner-div .max-container-container .text-downscroll .scroll-to-bottom {
  color: #6E84A3;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.banner-section .banner-div .max-container-container .text-downscroll .scroll-to-bottom:hover, .banner-section .banner-div .max-container-container .text-downscroll .scroll-to-bottom:focus {
  color: #275C89;
}

.banner-section .banner-div .max-container-container .text-downscroll .cursor-span {
  -webkit-mask: url(../images/icons/cursor.svg) no-repeat 50% 50%;
  mask: url(../images/icons/cursor.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 12px;
  height: 15px;
  color: #275C89;
  fill: #275C89;
  background-color: #275C89;
  margin: 0 10px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner-section .banner-div .content-banner {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-section .banner-div .content-banner .text-content {
  max-width: 100%;
  padding: 0 25px;
}

.banner-section .banner-div .content-banner h1 {
  padding: 0;
  margin: 0 0 35px 0;
  color: #0C406B;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.banner-section .banner-div .content-banner p {
  padding: 0;
  margin: 0 0 30px 0;
  color: #6E84A3;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.banner-section .banner-div .content-banner .span-block {
  display: block;
}

.banner-section .banner-div .side-img-banner {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  max-width: 44%;
  min-height: 100%;
}

.banner-section .banner-div .side-img-banner img.banner-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  max-height: 100vh;
}

/* End of banner */
.main-middle-area {
  padding: 99px 0 0 0;
  margin: 0;
  position: relative;
}

.common-section {
  padding: 0px 0 0 0;
  margin: 0;
  position: relative;
}

.common-section .common-div {
  padding: 10px 0 10px 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 100px);
}

.background-image-full {
  min-height: calc(100vh - 100px);
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.6;
  background: url(../images/background-travelz-jp.svg) repeat-x bottom;
  background-size: contain;
  background-position: 0 100%;
}

@-webkit-keyframes scroll-x {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100vh, 0vh, 0);
    transform: translate3d(100vh, 0vh, 0);
  }
}

@keyframes scroll-x {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100vh, 0vh, 0);
    transform: translate3d(100vh, 0vh, 0);
  }
}

.common-card-div {
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
  -webkit-box-shadow: 0 12px 34px 0 rgba(151, 151, 151, 0.05);
          box-shadow: 0 12px 34px 0 rgba(151, 151, 151, 0.05);
  min-height: 100px;
}

.common-card-div .heading-top-row {
  padding: 0 100px;
  margin: 0;
  position: relative;
}

.common-card-div .heading-top-row .heading-div {
  padding: 60px 0 30px 0;
  margin: 0;
  border-bottom: 1px solid;
  -o-border-image: radial-gradient(rgba(151, 151, 151, 0.27), rgba(151, 151, 151, 0)) 1;
     border-image: radial-gradient(rgba(151, 151, 151, 0.27), rgba(151, 151, 151, 0)) 1;
}

.common-card-div .heading-top-row .heading-div h2 {
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 34px;
  color: #000202;
  letter-spacing: 0;
  text-align: center;
}

.common-card-div .heading-top-row .heading-div p {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 18px;
  color: #00020270;
  letter-spacing: 0.4px;
  text-align: center;
  line-height: 24px;
}

.common-card-div .main-body-div {
  padding: 30px 100px;
  margin: 0;
  position: relative;
  min-height: 270px;
}

.common-card-div .main-body-div.main-body-div2 {
  padding: 30px 150px 30px 150px;
}

.footer-bottom-row {
  margin: 0;
  border-top: 1px solid;
  -o-border-image: radial-gradient(rgba(151, 151, 151, 0.27), rgba(151, 151, 151, 0)) 1;
     border-image: radial-gradient(rgba(151, 151, 151, 0.27), rgba(151, 151, 151, 0)) 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom-row .button-row {
  padding: 30px 50px 30px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-row .button-row .btn-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer-bottom-row .button-row .btn-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* login page */
.login-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.form-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.form-div .form-group {
  margin: 0 0 20px 0;
}

.form-div .form-group label {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #000202;
  letter-spacing: 0;
}

.form-div .form-group .form-control {
  padding: 10px 20px;
  margin: 0;
  min-height: 54px;
  color: #979797;
  background: white;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 3px 3px 0 rgba(203, 203, 203, 0.1);
          box-shadow: 0 3px 3px 0 rgba(203, 203, 203, 0.1);
  border-radius: 6px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.form-div .form-group .form-control::-webkit-input-placeholder {
  color: rgba(151, 151, 151, 0.5);
}

.form-div .form-group .form-control::-moz-placeholder {
  color: rgba(151, 151, 151, 0.5);
}

.form-div .form-group .form-control:-ms-input-placeholder {
  color: rgba(151, 151, 151, 0.5);
}

.form-div .form-group .form-control:-moz-placeholder {
  color: rgba(151, 151, 151, 0.5);
}

.form-div .form-group .form-control:hover, .form-div .form-group .form-control:focus, .form-div .form-group .form-control:active {
  border: 1px solid rgba(151, 151, 151, 0.8);
  -webkit-box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.57);
          box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.57);
  color: #000202;
}

.password-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.password-box .password-view-click {
  padding: 0;
  margin: 0;
  min-height: 52px;
  min-width: 52px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  color: rgba(151, 151, 151, 0.4);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.password-box .password-view-click .password-view {
  color: rgba(151, 151, 151, 0.3);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.password-box .password-view-click .password-hide {
  color: #0635C9;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.password-box .password-view-click:hover, .password-box .password-view-click:focus, .password-box .password-view-click:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.password-box .password-view-click:hover .password-view, .password-box .password-view-click:focus .password-view, .password-box .password-view-click:active .password-view {
  color: rgba(151, 151, 151, 0.8);
}

.social-row {
  padding: 0;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-row p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #000202;
  letter-spacing: 0;
}

.social-row span.text-span {
  color: #979797;
  padding-right: 2px;
}

.social-row .social-button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-div {
  padding: 0 20px;
  margin: 0;
  position: relative;
}

.description-div h4 {
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 16px;
  color: #000202;
  letter-spacing: 0;
}

.description-div .text-bold {
  font-weight: 700;
}

.description-div .list-info-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.description-div .list-info-div ul {
  list-style: none;
}

.description-div .list-info-div ul li {
  padding: 0 0 0 30px;
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 14px;
  color: #979797;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.description-div .list-info-div ul li::before {
  content: url("../images/icons/check_circle_outline.svg");
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}

/* End of login page */
/*  select-img-root  */
.select-img-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.radio-card-box {
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
          box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
  border-radius: 10px;
  min-height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.radio-card-box .label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.radio-card-box .label-box .icon-img-thumb {
  min-height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 0 0;
}

.radio-card-box .label-box .title-row {
  padding: 0;
  margin: 0;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-card-box .label-box p {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #979797;
  letter-spacing: 0;
  text-align: center;
}

.radio-card-box .form-radio {
  display: none;
}

.radio-card-box.active {
  background-color: rgba(6, 53, 201, 0.06);
  border: 1px solid #0635C9;
  -webkit-box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
          box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
}

.radio-card-box.active .label-box p {
  color: #0635C9;
}

.radio-card-box.active .custom-icon {
  background-color: #0635C9;
}

.radio-card-box:hover {
  -webkit-box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3);
          box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.select-label-root {
  padding: 10px 0 20px 0;
}

.select-label-root .radio-card-box {
  min-height: 60px;
}

.select-label-root .radio-card-box .label-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select-label-root .radio-card-box .label-box p {
  font-size: 16px;
  letter-spacing: 1.7px;
}

.select-label-root .radio-card-box.active .label-box p {
  font-weight: 700;
}

.checkbox-select-root {
  padding: 0;
  margin: 10px 0 0 0;
  position: relative;
}

.custom-checkbox {
  padding-left: 2.5rem;
}

.custom-checkbox .custom-control-label {
  padding: 0;
  margin: 0 0 0px 0;
  font-weight: 400;
  font-size: 18px;
  color: #00020270;
  letter-spacing: 0.4px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  background-color: #fff;
  border: 1px solid #00020270;
  width: 18px;
  height: 18px;
  top: 3px;
}

.custom-checkbox .custom-control-label::after {
  width: 18px;
  height: 18px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0635C9;
  border-color: #0635C9;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  content: "\e92b";
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 16px;
}

.search-box-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.search-box-root .form-control {
  padding: 10px 20px 8px 20px;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
          box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
  border-radius: 10px;
  min-height: 54px;
  color: #979797;
}

.search-box-root .form-control::-webkit-input-placeholder {
  color: #979797;
}

.search-box-root .form-control::-moz-placeholder {
  color: #979797;
}

.search-box-root .form-control:-ms-input-placeholder {
  color: #979797;
}

.search-box-root .form-control:-moz-placeholder {
  color: #979797;
}

/*  End of select-img-root  */
.most-img-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.most-img-root .heading-h4 {
  padding: 0;
  margin: 0 0 30px 0;
}

.most-img-root .heading-h4 h4 {
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  color: #000202;
  letter-spacing: 0;
  line-height: 24px;
}

.img-checkbox-card-box {
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
          box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
  border-radius: 10px;
  min-height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow: hidden;
}

.img-checkbox-card-box .label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-checkbox-card-box .label-box .checkbox-round-div {
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 100%;
  height: 22px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: transparent;
  border: 1px solid #0635C9;
  font-size: 18px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.img-checkbox-card-box .label-box .check-box-position {
  position: absolute;
  top: 12px;
  right: -40px;
  z-index: 3;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.img-checkbox-card-box .label-box .img-banner {
  min-height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0 0 0;
}

.img-checkbox-card-box .label-box .img-banner .img-responsive {
  height: 185px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.img-checkbox-card-box .label-box .check-title-row {
  padding: 10px 10px 10px 10px;
  margin: 0;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 2, 2, 0.34);
  -webkit-box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
          box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
  z-index: 2;
}

.img-checkbox-card-box .label-box h4 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: white;
  letter-spacing: 0;
  text-align: left;
  white-space: normal;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-checkbox-card-box .form-checkbox {
  display: none;
}

.img-checkbox-card-box.selected {
  -webkit-box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3);
          box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3);
  border: 1px solid #0635C9;
}

.img-checkbox-card-box.selected .check-box-position {
  right: 12px;
}

.img-checkbox-card-box.selected .checkbox-round-div {
  background-color: #0635C9;
  color: white;
  border: 1px solid #0635C9;
  opacity: 1;
}

.img-checkbox-card-box.selected .img-banner .img-responsive {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-checkbox-card-box.selected .label-box .check-title-row {
  background: rgba(6, 53, 201, 0.4);
  -webkit-box-shadow: 0 3px 5px 0 #CBCBCB;
          box-shadow: 0 3px 5px 0 #CBCBCB;
}

.img-checkbox-card-box:hover {
  -webkit-box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3);
          box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3);
  border: 1px solid #0635C9;
}

.img-checkbox-card-box:hover .check-box-position {
  right: 12px;
}

.img-checkbox-card-box:hover .checkbox-round-div {
  opacity: 1;
}

.img-checkbox-card-box:hover .checkbox-round-div:before {
  content: "";
  -webkit-clip-path: inset(0% 0% 0% 0% round 10px);
          clip-path: inset(0% 0% 0% 0% round 10px);
}

.img-checkbox-card-box:hover .img-banner .img-responsive {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-checkbox-card-box:hover .label-box .check-title-row {
  background: rgba(6, 53, 201, 0.4);
  -webkit-box-shadow: 0 3px 5px 0 #CBCBCB;
          box-shadow: 0 3px 5px 0 #CBCBCB;
}

.user-card-box {
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
  border: 1px solid rgba(151, 151, 151, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow: hidden;
}

.user-card-box .label-box {
  min-height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-card-box .label-box .checkbox-round-div {
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 100%;
  height: 22px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: transparent;
  border: 1px solid #0635C9;
  font-size: 18px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.user-card-box .label-box .check-box-position {
  position: absolute;
  top: 12px;
  right: -40px;
  z-index: 3;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.user-card-box .label-box .img-user-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px 0px 10px;
  margin: 0 0 10px 0;
}

.user-card-box .label-box .img-user-thumb .img-user {
  height: 95px;
  width: 95px;
  max-width: 95px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  -o-object-position: top;
     object-position: top;
  border: 5px solid rgba(151, 151, 151, 0.1);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.user-card-box .label-box .check-title-row {
  padding: 0px 10px 12px 10px;
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
}

.user-card-box .label-box h4 {
  padding: 0;
  margin: 0 0 4px 0;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #000202;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.user-card-box .label-box p {
  padding: 0;
  margin: 0 0 4px 0;
  line-height: 18px;
  font-weight: 400;
  font-size: 13px;
  color: #979797;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.user-card-box .form-checkbox {
  display: none;
}

.user-card-box.selected {
  background: rgba(6, 53, 201, 0.04);
  border: 1px solid #0635C9;
  -webkit-box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
          box-shadow: 0 3px 5px 0 rgba(203, 203, 203, 0.1);
}

.user-card-box.selected .check-box-position {
  right: 12px;
}

.user-card-box.selected .checkbox-round-div {
  background-color: #0635C9;
  color: white;
  border: 1px solid #0635C9;
  opacity: 1;
}

.user-card-box.selected .label-box h4 {
  color: #0635C9;
}

.user-card-box.selected .label-box p {
  color: #000202;
}

.user-card-box:hover {
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.03);
          box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.03);
}

/* Inner Pages  **/
.step-progress-div {
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step-progress-div .progress-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-progress-div .progress-root .progress {
  width: calc(100% - 100px);
  height: 12px;
  overflow: hidden;
  background-color: #e9ecef;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F3F3F3), to(#E3E3E3));
  background-image: linear-gradient(270deg, #F3F3F3 0%, #E3E3E3 100%);
}

.step-progress-div .progress-root .progress-bar {
  background-color: #44D7B6;
}

.step-progress-div .progress-root .progress-count {
  min-width: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #000202;
  letter-spacing: 0;
}

/* end of home page */
/* loader */
.loader-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 99999;
  background-color: #fff;
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  -webkit-animation: circle 2s linear infinite;
          animation: circle 2s linear infinite;
}

/* End of loader */
@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 767px) {
  header .header-div {
    min-height: 70px;
  }
  header .header-div .logo-div {
    min-height: 70px;
  }
  header .header-div .logo-div .logo_link {
    padding: 0px 0px 0px 0px;
  }
  .main-middle-area {
    padding: 71px 0 0 0;
  }
  .common-card-div .heading-top-row {
    padding: 0 15px;
  }
  .common-card-div .heading-top-row .heading-div h2 {
    margin: 0 0 10px 0;
    font-size: 26px;
  }
  .common-card-div .heading-top-row .heading-div p {
    font-size: 16px;
  }
  .common-card-div .main-body-div {
    padding: 30px 15px;
  }
  .footer-bottom-row .button-row {
    padding: 30px 15px 30px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bottom-row .button-row .btn-right-side {
    margin: 10px auto 0 auto;
    width: 100%;
  }
  .footer-bottom-row .button-row .btn-continue {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom-row .button-row .mr-30 {
    margin-right: 0px;
  }
  .footer-bottom-row .button-row.button-row02 .btn-previous {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
  }
  .social-row .left-social-txt {
    margin: 0 0 15px 0;
  }
  .description-div {
    padding: 0 0px;
    margin: 20px 0 0 0;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /********/
  /* occupation */
  .grid-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 16px 0;
  }
  .remove-mobile {
    display: none;
  }
  /* End of occupation */
  /* Age group */
  .grid-125 {
    margin: 0 0 16px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .checkbox-select-root {
    margin: 10px 0 0 0;
  }
  .step-progress-div {
    min-height: 42px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .step-progress-div .progress-root .progress {
    width: calc(100% - 60px);
    height: 8px;
  }
  .step-progress-div .progress-root .progress-count {
    min-width: 60px;
    font-size: 14px;
  }
  /* End of Age group */
  .common-card-div .main-body-div.main-body-div2 {
    padding: 30px 15px 30px 15px;
  }
  .common-card-div .main-body-div.main-body-div2.pr-80 {
    padding-right: 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .header-div {
    min-height: 70px;
  }
  header .header-div .logo-div {
    min-height: 70px;
  }
  header .header-div .logo-div .logo_link {
    padding: 0px 0px 0px 0px;
  }
  .main-middle-area {
    padding: 71px 0 0 0;
  }
  .common-card-div .heading-top-row {
    padding: 0 15px;
  }
  .common-card-div .heading-top-row .heading-div h2 {
    margin: 0 0 10px 0;
    font-size: 26px;
  }
  .common-card-div .heading-top-row .heading-div p {
    font-size: 16px;
  }
  .common-card-div .main-body-div {
    padding: 30px 15px;
  }
  .footer-bottom-row .button-row {
    padding: 30px 15px 30px 15px;
  }
  .social-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
  }
  .social-row .left-social-txt {
    margin: 0 0 15px 0;
  }
  .description-div {
    padding: 0 0px;
    margin: 20px 0 0 0;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /* occupation */
  .grid-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    max-width: 33.3%;
    margin: 0 0 16px 0;
  }
  .remove-mobile {
    display: none;
  }
  /* End of occupation */
  /* follow */
  .common-div.areas-div .grid-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  /* End of follow */
  .common-card-div .main-body-div.main-body-div2 {
    padding: 30px 15px 30px 15px;
  }
  .common-card-div .main-body-div.main-body-div2.pr-80 {
    padding-right: 15px !important;
  }
}
/*# sourceMappingURL=style-old.css.map */