@charset "utf-8";
@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.5);

$text-black1: #000202;
$text-black2:#00020270;

$text-grey1:#979797;
$text-grey2:rgba(151, 151, 151, 0.5);

$text-blue1: #0635C9;

/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; cursor: url("../images/oval-cursor.png"), auto; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch;  cursor: url("../images/oval-cursor.png"), auto; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth;  cursor: url("../images/oval-cursor.png"), auto; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; font-family: 'Poppins', sans-serif !important; scroll-behavior: smooth;     overflow-x: hidden; 
    cursor: url("../images/oval-cursor.png"), auto;
}

.wrapper { background-color: #FDFDFD; display: block; height: 100%;  cursor: url("../images/oval-cursor.png"), auto; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.4s linear; }

.container { max-width: 1200px; }
.container-lg{ max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */

/*  general css */

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.mr-10{ margin-right: 10px; }
.mr-30{ margin-right: 30px; }
.p0{ padding: 0px !important; }

.text-underline{ text-decoration: underline; }
.help-error { display: block; margin-top: 5px !important; font-weight: 400; font-size: 12px; color: #F24033; letter-spacing: 0; line-height: 18px; }
.font-500{ font-weight: 500; }

.display-none{ display: none !important; }
.display-show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }

.mr-minus-8 { margin-right: -8px; margin-left: -8px; }
.plr-8 { padding-right: 8px; padding-left: 8px; }
.pr-80 { padding-right: 80px !important; }

.grid-20 { flex: 0 0 20%; max-width: 20%; margin: 0 0 16px 0; }
.grid-125 { flex: 0 0 141px; max-width: 141px; margin: 0 0 16px 0; }

.input-group-30{     margin-bottom: 30px !important; }

/*  */

.btn.btn-blue{ 
    padding: 0 20px; margin: 0; border: 1px solid #2C7BE5; background-color: #2C7BE5; color: $white-color; min-height: 36px; display: flex; align-items: center; justify-content: center; font-weight: 700; font-size: 14px; border-radius: 0px; transition: all 0.8s; line-height: 24px; 
    &:hover, &:focus{ 
        border: 1px solid #0C406B; background-color: #0C406B; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3); transform: translateY(-2px);
    }
}

.btn-social {
    background-color: #F24033; border-radius: 6px; color: #fff; padding: 5px 10px 4px 10px; min-height: 36px; min-width: 110px; display: flex; align-items: center; justify-content: center;  transition: all 0.8s;
    &.btn-facebook{
        background-color: #43619C;
    }
    &:hover, &:focus, &:active{
        box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2); transform: translateY(-3px);
    }
}

.btn-common {
    background-color: #FFFFFF; border: 1px solid #979797; border-radius: 6px; min-height: 44px; display: flex; align-items: center; font-weight: 400; font-size: 16px; color: #979797; letter-spacing: 0; transition: all 0.8s ;
}

.btn-previous{
    background-color: $white-color; border: 1px solid $text-grey1; color: $text-grey1; padding: 5px 20px 4px 15px; transition: all 0.8s;
    .fe-icon { font-size: 21px; margin: 0 20px 0 0; }
    &:hover, &:focus, &:active{
        background-color: $white-color; border: 1px solid $text-grey1; color: $text-grey1; outline: none; box-shadow: 0 15px 20px 0px rgba(151, 151, 151, 0.3); transform: translateY(-3px);
    }
}

.btn-continue{
    background: $text-blue1; border:1px solid $text-blue1; color: $white-color; outline: none; padding: 5px 15px 4px 20px; transition: all 0.8s;
    // box-shadow: 0 4px 4px 0 rgba(6,53,201,0.19); 
    .fe-icon { font-size: 21px; margin: 0 0 0 20px; }
    &:hover, &:focus, &:active{
        background: $text-blue1; border:1px solid $text-blue1; outline: none; box-shadow: 0 10px 20px 0px rgba(6,53,201,0.19); transform: translateY(-3px);
    }
}

.btn-skip { padding: 0; font-weight: 400; font-size: 16px; color: $text-grey1; letter-spacing: 0; text-decoration: underline; 
    &:hover, &:focus, &:active {
        color: $text-blue1; outline: none; text-decoration: underline; 
    }
}

.btn-success.btn-search {
    opacity: 0.6; background: $text-blue1; border:none; border-radius: 0px 10px 10px 0px; display: flex; align-items: center; justify-content: center; font-size: 30px;
    .search-icons{ font-size: 28px; }
}


.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

.return-to-top { 
    position: fixed; bottom: 25px; right: 25px; background: #2C7BE5; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 999; 
    i { color: $white-color; margin: 0; position: relative; left: auto; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: initial; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
       &:hover { 
        background: #0C406B;
        i { color: $white-color; }
    }
    
}   

/* add svg icons */

.custom-icon{ display: inline-block;  vertical-align: middle;  color: #979797;  fill: #979797;  background-color: #979797; }
.school-students-icon{  mask: url(../images/icons/school-students.svg) no-repeat 50% 50%; mask-size: contain; width: 53px; height: 65px; }
.university-students-icon{  mask: url(../images/icons/university-students.svg) no-repeat 50% 50%; mask-size: contain;  width: 71px; height: 72px; }
.agriculture-icon{  mask: url(../images/icons/agriculture.svg) no-repeat 50% 50%; mask-size: contain;  width: 80px; height: 68px; }
.travel-icon{  mask: url(../images/icons/travel.svg) no-repeat 50% 50%; mask-size: contain;  width: 70px; height: 58px; }
.other-icon{  mask: url(../images/icons/other.svg) no-repeat 50% 50%; mask-size: contain;  width: 30px; height: 9px; }

.proceed-timeline-icon{  mask: url(../images/icons/proceed-timeline.svg) no-repeat 50% 50%; mask-size: contain;  width: 74px; height: 68px; }
.create-map-icon{  mask: url(../images/icons/create-map.svg) no-repeat 50% 50%; mask-size: contain;  width: 66px; height: 70px; }
.travel-plan-icon{  mask: url(../images/icons/travel-plan.svg) no-repeat 50% 50%; mask-size: contain;  width: 57px; height: 68px; }

/* End of add svg icons */

/* select2 */

.select-box{  position: relative; display: flex; align-items: center;  }
.form-control.select-control { border: 1px solid #727272; border-radius: 0px; min-height: 50px; color: #979797; padding: 0 20px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #285B89; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.select-custom2{ 
    span.select2-selection.select2-selection--single { border: 1px solid #DFEAF1 !important; border-radius: 0px; min-height: 50px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #FAFCFD; position: relative; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
        0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none; top: 15px; left: 10px;
        &::before{ content: ""; -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $lightblack-color; transform: rotate(180deg);  }        
} 
}
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: #2C7BE5; }
.select2-results__option { padding: 10px; }
 
/* end of select2 */

/*  End of general css */

/* header */

header{
    position: relative;
    .header-div { 
        padding: 0; margin: 0; background-color: #FDFDFD;  position: fixed; z-index: 9999; width: 100%; min-height: 100px;  transition: all 0.5s;
        .logo-div { padding: 0px 0px 0px 0px; margin: 0; display: flex; float: left; width: 100%; align-items: center; min-height: 100px; 
            .logo_link{
                padding: 10px 0px 0px 0px;
            }
        }
        .nav-center-div{ padding: 15px 0px 15px 0px; margin: 0; display: flex; float: left; width: 80%; align-items: center; justify-content: flex-end; min-height: 95px; }
        .main-logo{ display: block; }
        .logo_img{ transition: display ease-in-out 0.5s; width: 165px; }
    }
}

/* End of header */

/* banner */

.banner-section{  
    padding: 0; margin: 0; position: relative; 

    .banner-div{ 
        padding: 0; margin: 0; position: relative; background-color: $white-color; display: flex; align-items: center; overflow: hidden;

        .bannerleft-6 { padding: 0; }
        .bannerright-6{ padding: 0; position: initial; }

        .height-100{ 
            height: 100vh; display: flex; align-items: center; 
            .content-banner h1{ text-align: left; }
        }

        .max-container-container { 
            position: absolute; bottom: 30px; width: auto; left: 0; margin: 0 0 0 25px;
            .text-downscroll { position: relative; margin: 0; padding: 0; width: 100%; }
            .text-downscroll .scroll-to-bottom { 
                color: #6E84A3; font-size: 13px; font-weight: 700; transition: 0.5s; display: flex; align-items: center; transition: 0.8s;
                &:hover, &:focus{
                    color: #275C89;
                }
            }
            .text-downscroll .cursor-span { -webkit-mask: url(../images/icons/cursor.svg) no-repeat 50% 50%; mask: url(../images/icons/cursor.svg) no-repeat 50% 50%; -webkit-mask-size: contain; display: inline-block; vertical-align: middle; mask-size: cover; width: 12px; height: 15px; color:#275C89; fill: #275C89; background-color: #275C89; margin: 0 10px 0 0; transition: 0.5s; }
        }

        .content-banner{ 
            padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-end; position: relative; width: 100%; height: 100%;
            .text-content{ max-width: 100%; padding: 0 25px; }

            h1{ padding: 0; margin: 0 0 35px 0; color: #0C406B; font-size: 40px; font-weight: 700; line-height: 60px; }
            p{ padding: 0; margin: 0 0 30px 0; color: #6E84A3; font-size: 16px; line-height: 25px; font-weight: 400;  }
            .span-block{ display: block; }
        }

        .side-img-banner{ 
            position: absolute; right: 0; top: 0; width: 100%; flex: 0 0 44%; max-width: 44%;  min-height: 100%;
            img.banner-img { width: 100%; object-fit: cover; height: 100vh; max-height: 100vh; }
        }


    }

}

/* End of banner */

.main-middle-area{
    padding: 99px 0 0 0; margin: 0; position: relative;
}

.common-section{  
    padding: 0px 0 0 0; margin: 0; position: relative; 
   // background: url(../images/background-travelz-jp.svg) no-repeat bottom; background-size: contain; background-position: 0 100%;
    .common-div{ 
        padding: 10px 0 10px 0; margin: 0; position: relative; min-height: calc(100vh - 100px);
    }
}

.background-image-full{
   min-height: calc(100vh - 100px); position: fixed; bottom: 0; width: 100%; opacity: 0.6;
   background: url(../images/background-travelz-jp.svg) repeat-x bottom; background-size: contain; background-position: 0 100%;
  // animation: scroll-x 40s linear infinite;
}

@keyframes scroll-x {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100vh, 0vh, 0);
            transform: translate3d(100vh, 0vh, 0);
  }
}

.common-card-div{
    padding: 0; margin: 0; position: relative; background: $white-color; box-shadow: 0 12px 34px 0 rgba(151,151,151,0.05); min-height: 100px;
    .heading-top-row{
        padding: 0 100px; margin: 0; position: relative; 
        .heading-div{ 
            padding: 60px 0 30px 0; margin: 0; border-bottom: 1px solid; border-image: radial-gradient(rgba(151, 151, 151, .27), rgba(151, 151, 151, 0)) 1;
            h2 { padding: 0; margin: 0 0 15px 0; font-weight: 600; font-size: 34px; color: $text-black1; letter-spacing: 0; text-align: center; }
            p { padding: 0; margin: 0 0 10px 0; font-weight: 400; font-size: 18px; color: $text-black2; letter-spacing: 0.4px; text-align: center; line-height: 24px; }
        }
    }
    .main-body-div{
        padding: 30px 100px; margin: 0; position: relative; min-height: 270px;
        &.main-body-div2{
            padding: 30px 150px 30px 150px;
        }
    }
}

.footer-bottom-row{
    margin: 0; border-top: 1px solid; border-image: radial-gradient(rgba(151, 151, 151, .27), rgba(151, 151, 151, 0)) 1;
    display: flex; align-items: center;
    .button-row {
        padding: 30px 50px 30px 50px;  width: 100%; display: flex;  justify-content: space-between;
        .btn-left-side{ display: flex; align-items: center; width: 100%; }
        .btn-right-side{ display: flex; align-items: center; }
    }
}

/* login page */

.login-div{ padding: 0; margin: 0; position: relative; }

.form-div{
    padding: 0; margin: 0; position: relative; 
    .form-group{
        margin: 0 0 20px 0;
        label { padding: 0; margin: 0 0 10px 0; font-weight: 400; font-size: 16px; color: $text-black1; letter-spacing: 0; } 
        .form-control { 
            padding: 10px 20px; margin: 0; min-height: 54px; color: $text-grey1; background: $white-color; border: 1px solid rgba(151,151,151,0.20); box-shadow: 0 3px 3px 0 rgba(203,203,203,0.10); border-radius: 6px; transition: all 0.8s;
            &::-webkit-input-placeholder { color: $text-grey2;}
            &::-moz-placeholder { color: $text-grey2;}
            &:-ms-input-placeholder { color: $text-grey2;}
            &:-moz-placeholder { color: $text-grey2;}  
            &:hover, &:focus, &:active{ border: 1px solid rgba(151,151,151,0.80);box-shadow: 0 3px 5px 0 rgba(203,203,203,0.57); color: $text-black1; }
        }
    }  
}

.password-box{
    padding: 0; margin: 0; position: relative;
    .password-view-click { 
        padding: 0; margin: 0; min-height: 52px; min-width: 52px; height: 100%; position: absolute; top: 0; right: 0; display: flex; align-items: center; justify-content: center; background-color: transparent; border: none; color: rgba(151, 151, 151, 0.4); transition: 0.8s all;
        .password-view{ color: rgba(151, 151, 151, 0.3); transition: 0.8s all; }
        .password-hide{ color: $text-blue1; transition: 0.8s all; }
        &:hover, &:focus, &:active{
            box-shadow: none; outline: none; 
            .password-view{ color: rgba(151, 151, 151, 0.8); }
        }
    }
} 

.social-row{
    padding: 0; margin: 0 0 10px 0;  display: flex; justify-content: space-between; align-items: center  ;
    p{ padding: 0; margin: 0;  font-weight: 400; font-size: 16px; color: $text-black1; letter-spacing: 0; }
    span.text-span{ color: $text-grey1; padding-right: 2px; }
    .social-button-row { display: flex; }
}

.description-div{
    padding: 0 20px; margin: 0; position: relative;
    h4 { padding: 0; margin: 0 0 20px 0;  font-weight: 400; font-size: 16px; color: $text-black1; letter-spacing: 0; }
    .text-bold{ font-weight: 700; }
    .list-info-div{
        padding: 0; margin: 0; position: relative;
        ul{  list-style: none; 
            li{ padding: 0 0 0 30px; margin: 0 0 12px 0; font-weight: 400; font-size: 14px; color: $text-grey1; letter-spacing: 0; line-height: 20px; position: relative;
                &::before{ content: url("../images/icons/check_circle_outline.svg"); position: absolute; left: 0; top: 0; width: 24px; height: 24px; }
            }
        }
    }
}

/* End of login page */

/*  select-img-root  */

.select-img-root{ 
    padding: 0; margin: 0; position: relative;
}

.radio-card-box {
    padding: 0; margin: 0; position: relative; background: $white-color; border: 1px solid rgba(151,151,151,0.20); box-shadow: 0 3px 5px 0 rgba(203,203,203,0.10); border-radius: 10px; min-height: 185px; display: flex; height: 100%; transition:all 0.8s;
    .label-box{
        display: flex; height: 100%; width: 100%; cursor: pointer; flex-direction: column;
        .icon-img-thumb{ min-height: 135px; display: flex; align-items: center; justify-content: center; padding: 20px 0 0 0; }
        .title-row { padding: 0; margin: 0; min-height: 50px; display: flex; align-items: center; width: 100%; justify-content: center; }
        p { padding: 0; margin: 0; font-weight: 500; font-size: 14px; color: $text-grey1; letter-spacing: 0; text-align: center; }
    }
    .form-radio{ display: none; }
    &.active{
        background-color: rgba(6,53,201,0.06); border: 1px solid #0635C9; box-shadow: 0 3px 5px 0 rgba(203,203,203,0.10);
        .label-box{
            p{ color: #0635C9; }
        }
        .custom-icon{
            background-color: #0635C9;
        }
    }

    &:hover{
        box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3);
        transform: translateY(-5px);
        // border: 1px solid rgba(151, 151, 151, 0.0);
    }
}

.select-label-root{
    padding: 10px 0 20px 0;
    .radio-card-box{ min-height: 60px; 
        .label-box { justify-content: center;
            p { font-size: 16px; letter-spacing: 1.7px; }
        }
        &.active{
            .label-box {
                p { font-weight: 700; }
            }
        }
    }   
}

.checkbox-select-root{
    padding: 0; margin: 10px 0 0 0; position: relative;
}

.custom-checkbox{
    padding-left: 2.5rem;
    .custom-control-label{
        padding: 0; margin: 0 0 0px 0; font-weight: 400; font-size: 18px; color: $text-black2; letter-spacing: 0.4px; text-align: center; line-height: 24px; cursor: pointer;
        &::before { background-color: #fff; border: 1px solid $text-black2; width: 18px; height: 18px; top: 3px; }
        &::after{ width: 18px; height: 18px; }
    }
    .custom-control-input:checked~.custom-control-label::before{ background-color: #0635C9; border-color: #0635C9; }
    .custom-control-input:focus~.custom-control-label::before { box-shadow: none; }
    .custom-control-input:checked~.custom-control-label::after { background-image: none; content: "\e92b"; font-family: Feather!important; speak: none; font-style: normal; font-weight: 600; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fff; font-size: 16px; }
}

.search-box-root{
    padding: 0; margin: 0; position: relative;
    .form-control { padding: 10px 20px 8px 20px; margin: 0; background: #FFFFFF; border: 1px solid rgba(151,151,151,0.20); box-shadow: 0 3px 5px 0 rgba(203,203,203,0.10); border-radius: 10px; min-height: 54px; color: $text-grey1; 
        &::-webkit-input-placeholder { color: $text-grey1;}
        &::-moz-placeholder { color: $text-grey1;}
        &:-ms-input-placeholder { color: $text-grey1;}
        &:-moz-placeholder { color: $text-grey1;}  
    }
}

/*  End of select-img-root  */

.most-img-root{
    padding: 0; margin: 0; position: relative;
    .heading-h4 { padding: 0; margin: 0 0 30px 0;
        h4{padding: 0;font-weight: 500;font-size: 18px;color: #000202;letter-spacing: 0;line-height: 24px;}
    }
}

.img-checkbox-card-box {
    padding: 0; margin: 0; position: relative; background: $white-color; border: 1px solid rgba(151,151,151,0.20); box-shadow: 0 3px 5px 0 rgba(203,203,203,0.10); border-radius: 10px; min-height: 185px; display: flex; height: 100%; transition:all 0.8s; overflow: hidden;
    .label-box{
        display: flex; height: 100%; width: 100%; cursor: pointer; flex-direction: column; 
        .checkbox-round-div { padding: 0; margin: 0; background-color: #fff; border-radius: 100%; height: 22px; width: 22px; display: flex; align-items: center; justify-content: center; color: transparent;border: 1px solid #0635C9; font-size: 18px; opacity: 0; transition:all 0.4s; }
        .check-box-position { position: absolute; top: 12px; right: -40px; z-index: 3; transition:all 0.8s; }
        .img-banner{ min-height: 185px; display: flex; align-items: center; justify-content: center; padding: 0px 0 0 0; 
            .img-responsive { height: 185px; width: 100%; object-fit: cover; border-radius: 10px; object-position: center; transition: 0.8s all; }
        }
        .check-title-row { padding: 10px 10px 10px 10px; margin: 0; min-height: 100%; display: flex; align-items: flex-end; width: 100%; justify-content: flex-start; position: absolute; bottom: 0; left: 0; background: rgba(0,2,2,0.34); box-shadow: 0 3px 5px 0 rgba(203,203,203,0.10); z-index: 2; }
        h4 { padding: 0; margin: 0; font-weight: 700; font-size: 16px; color: $white-color; letter-spacing: 0; text-align: left;white-space: normal; word-break: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; }
    }
    .form-checkbox{ display: none; }
    &.selected{
        box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3); border: 1px solid $text-blue1;
        .check-box-position { right: 12px; }
        .checkbox-round-div { background-color: $text-blue1; color: $white-color; border: 1px solid $text-blue1; opacity: 1; }
        .img-banner{ .img-responsive { transform: scale(1.1); } }
        .label-box{
            .check-title-row { background: rgba(6,53,201,0.40); box-shadow: 0 3px 5px 0 #CBCBCB; }
        }

    }

    &:hover{
        box-shadow: 0 15px 25px 0 rgba(203, 203, 203, 0.3); border: 1px solid $text-blue1;
        .check-box-position { right: 12px; }
        .checkbox-round-div { opacity: 1; 
            &:before{ content:""; clip-path: inset(0% 0% 0% 0% round 10px); }
        }
        .img-banner{ .img-responsive { transform: scale(1.1); } }
        .label-box{
            .check-title-row { background: rgba(6,53,201,0.40); box-shadow: 0 3px 5px 0 #CBCBCB; }
        }
    }
}

.user-card-box {
    padding: 0; margin: 0; position: relative; background: $white-color; border: 1px solid rgba(151,151,151,0.10); border-radius: 10px; display: flex; height: 100%; transition:all 0.8s; overflow: hidden;
    .label-box{
        min-height: 185px; display: flex; height: 100%; width: 100%; cursor: pointer; flex-direction: column; 
        .checkbox-round-div { padding: 0; margin: 0; background-color: #fff; border-radius: 100%; height: 22px; width: 22px; display: flex; align-items: center; justify-content: center; color: transparent;border: 1px solid #0635C9; font-size: 18px; opacity: 0; transition:all 0.4s; }
        .check-box-position { position: absolute; top: 12px; right: -40px; z-index: 3; transition:all 0.8s; }
        .img-user-thumb{  display: flex; align-items: center; justify-content: center; padding: 20px 10px 0px 10px; margin: 0 0 10px 0;
            .img-user { height: 95px; width: 95px; max-width: 95px; object-fit: cover; border-radius: 100%; object-position: top; border:5px solid rgba(151, 151, 151, 0.10); transition: 0.8s all; }
        }
        .check-title-row { padding: 0px 10px 12px 10px; margin: 0; display: block; text-align: center; width: 100%;}
        h4 { padding: 0; margin: 0 0 4px 0; line-height: 20px; font-weight: 700; font-size: 16px; color: $text-black1; letter-spacing: 0; text-align: center; white-space: nowrap; word-break: break-word; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize; transition:all 0.8s; }
        p{ padding: 0; margin: 0 0 4px 0; line-height: 18px; font-weight: 400; font-size: 13px; color: $text-grey1; letter-spacing: 0; text-align: center; white-space: nowrap; word-break: break-word; overflow: hidden; text-overflow: ellipsis; transition:all 0.8s; }
    }
    .form-checkbox{ display: none; }
    &.selected{
        background: rgba(6,53,201,0.04); border: 1px solid $text-blue1; box-shadow: 0 3px 5px 0 rgba(203,203,203,0.10);
        .check-box-position { right: 12px; }
        .checkbox-round-div { background-color: $text-blue1; color: $white-color; border: 1px solid $text-blue1; opacity: 1; }
        .label-box{
            h4{ color: $text-blue1; }
            p{ color: $text-black1; }
        } 
    }

    &:hover{
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.03); 
    }
}

/* Inner Pages  **/

.step-progress-div {
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    .progress-root{
        display: flex; align-items: center;
        .progress { width: calc(100% - 100px );  height: 12px; overflow: hidden; background-color: #e9ecef; border-radius: 5px; background-image: linear-gradient(270deg, #F3F3F3 0%, #E3E3E3 100%); }
        .progress-bar { background-color: #44D7B6; }
        .progress-count{ min-width:100px; text-align: center; font-size: 16px; font-weight: 700; color: $text-black1; letter-spacing: 0; }
        
    }
}

/* end of home page */

/* loader */

.loader-root{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    min-height: 100vh;
    width: 100%;
    z-index: 99999;
    background-color: #fff;
    clip-path: circle(75%);
    animation: circle 2s linear infinite;
}


/* End of loader */

/* design Changes */

.step-progress-div{ display: none; }

header .header-div{
    min-height: 70px;
    .logo-div {
        min-height: 70px;
        .logo_link {
            padding: 0px 0px 0px 0px;
        }
    }
}
.common-section{  
    .common-div{ 
        min-height: calc(100vh - 70px);
    }
}
.common-card-div .main-body-div {
    padding-bottom: 60px; min-height: 180px;
    &.main-body-div2{
        padding-bottom: 60px;
    }
}

.footer-bottom-row {
    position: fixed; bottom: 0; width: 100%; left: 0; padding: 0; background-color: #fff; z-index: 9999;
    .button-row{
        padding: 15px 0px 15px 0px;
    }
}

.main-middle-area{ padding: 70px 0 0 0; }
.background-image-full { min-height: calc(100vh - 70px); }


/* End of design changes */

@media (min-width: 1025px) {
    
    // .common-section .common-div {
    //     min-height: calc(100vh - 70px);
    //     display: flex;
    //     align-items: center;
    //     margin-bottom: 70px;
    // }

}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {
  

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    header{
        .header-div{
            min-height: 70px;
            .logo-div{ 
                min-height: 70px;
                .logo_link {
                    padding: 0px 0px 0px 0px;
                }
            }
        }   
    }

    .main-middle-area { padding: 71px 0 0 0; }

    .common-card-div {
        .heading-top-row {
            padding: 0 15px;
            .heading-div {
                h2 { margin: 0 0 10px 0; font-size: 26px; }
                p{ font-size: 16px; }
            }
        }
        .main-body-div {
            padding: 30px 15px;
        }
    }

    .footer-bottom-row {
        .button-row {
            padding: 30px 15px 30px 15px; flex-direction: column;
            .btn-right-side {
                margin: 10px auto 0 auto; width: 100%;
            }
            .btn-continue { width: 100%; display: flex; justify-content: center; }
            .mr-30 { margin-right: 0px; }
            &.button-row02{
                .btn-previous{    width: 100%; display: flex; justify-content: center; }
            }
        }
    }
    
    .social-row{
        flex-direction: column; margin: 0 0 20px 0;
        .left-social-txt{
            margin: 0 0 15px 0;
        }
    }

    .description-div { padding: 0 0px; margin: 20px 0 0 0; }

    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }

    /********/

    /* occupation */

    .grid-20 { flex: 0 0 100%; max-width: 100%; margin: 0 0 16px 0; }
    .remove-mobile{ display: none; }
    
    /* End of occupation */

    /* Age group */

    .grid-125 { margin: 0 0 16px 0; flex: 0 0 50%; max-width: 50%; }
    .checkbox-select-root { margin: 10px 0 0 0; }

    .step-progress-div {
        min-height: 42px; box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
        .progress-root {
            .progress { width: calc(100% - 60px); height: 8px; }
            .progress-count { min-width: 60px; font-size: 14px; }
        }
    }

    /* End of Age group */

    .common-card-div {
        .main-body-div.main-body-div2 {
            padding: 30px 15px 30px 15px;
            &.pr-80{
                padding-right: 15px !important;
            }
        }
    }

    /*  design changes */

    header .header-div {
        min-height: 50px;
    }
    header .header-div .logo-div {
        min-height: 50px;
    }
    header .header-div .logo_img {
        width: 120px;
    }

    .footer-bottom-row .button-row {
        padding: 10px 0px 10px 0px;
    }

    .main-middle-area {
        padding: 51px 0 0 0;
    }

    .common-section{  
        .common-div{ 
            min-height: calc(100vh - 50px);
        }
    }

    /* End of design changes */
    

}

@media (min-width: 768px) and (max-width: 1024px) {

   
    header{
        .header-div{
            min-height: 70px;
            .logo-div{ 
                min-height: 70px;
                .logo_link {
                    padding: 0px 0px 0px 0px;
                }
            }
        }   
    }

    .main-middle-area { padding: 71px 0 0 0; }

    .common-card-div {
        .heading-top-row {
            padding: 0 15px;
            .heading-div {
                h2 { margin: 0 0 10px 0; font-size: 26px; }
                p{ font-size: 16px; }
            }
        }
        .main-body-div {
            padding: 30px 15px;
        }
    }

    .footer-bottom-row {
        .button-row {
            padding: 30px 15px 30px 15px;
        }
    }
    
    .social-row{
        flex-direction: column; margin: 0 0 20px 0;
        .left-social-txt{
            margin: 0 0 15px 0;
        }
    }

    .description-div { padding: 0 0px; margin: 20px 0 0 0; }

    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }

     /* occupation */

     .grid-20 { flex: 0 0 33.3%; max-width: 33.3%; margin: 0 0 16px 0; }
     .remove-mobile{ display: none; }
     
     /* End of occupation */

    /* follow */

    .common-div.areas-div .grid-20 { flex: 0 0 50%; max-width: 50%; }

    /* End of follow */

    .common-card-div {
        .main-body-div.main-body-div2 {
            padding: 30px 15px 30px 15px;
            &.pr-80{
                padding-right: 15px !important;
            }
        }
    }

    /*  design changes */

    header .header-div {
        min-height: 50px;
    }
    header .header-div .logo-div {
        min-height: 50px;
    }
    header .header-div .logo_img {
        width: 120px;
    }

    .footer-bottom-row .button-row {
        padding: 10px 0px 10px 0px;
    }
    .main-middle-area{ padding-top: 51px; }

    .common-section{  
        .common-div{ 
            min-height: calc(100vh - 50px);
        }
    }

    /* End of design changes */

}



@media (min-width: 1024px) and (max-width: 1366px) {

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}